{{- $name := promptStringOnce . "name" "Your full name" -}}
{{- $email := promptStringOnce . "email" "Your email address" -}}
{{- $github_username := promptStringOnce . "github_username" "Your GitHub username" -}}

[data]
    name = {{ $name | quote }}
    email = {{ $email | quote }}
    github_username = {{ $github_username | quote }}

[git]
    autoCommit = true
    autoPush = true